# Auto detect text files and perform LF normalization
* text=auto

include/** linguist-vendored
lib/** linguist-vendored
cmake/** linguist-vendored
cmake-bin/** linguist-vendored
set/** linguist-vendored
